<div class="p-4">
    <div class="container">
        <h1 class="">Hola {{user.firstName}}!</h1>
        <p>Money E-Wallet!</p>
        <p><a routerLink="/users">Manejo Users</a></p>

        <div>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
            <p style="color:white">. </p>
        </div>
        
    </div>
</div>