<div class="container">
    <h1 class="text-light" *ngIf="usuarioActual">Hola {{ usuarioActual.datosUsuario.Nombres }}!</h1>
    <p class="text-light">Money E-Wallet!</p>

    <div class="card" *ngFor="let cuenta of cuentas">
        <div class="card-body">
          <h5 class="card-title">{{ cuenta.cvu }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ cuenta.moneda.nombre }}</h6>
          <p class="card-text"><strong>{{ cuenta.saldo | currency }}</strong></p>
        </div>
      </div>
</div>