
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <img src="./assets/img.png" class="img-fluid" alt="Responsive image"
            style="height: 15rem; display:block; margin: auto; ">

        <div class="card">    
            <h4 class="card-header text-center">Iniciar Sesión</h4>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Nick:</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Debe ingresar un nick.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Debe ingresar una contraseña.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Iniciar sesión
                        </button>
                        <a routerLink="/register" class="btn btn-link">Crear cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
